{% load static %}

<head>
    <link rel="stylesheet" href="{% static 'output/css/output.css' %}">
</head>

<body>
    <div class="container mx-auto">
        <div class="prose">
            <h1>F1 Lap Times Graph</h1>
        </div>

        <br>

        <div class="">
            <form id="lapForm" action="/analytics/lap_times">
                <label class="input-group">
                    <span>Year</span>
                    <select name="year" id="yearsField" class="select select-bordered w-full max-w-xs">
                        <option value="2021">2021</option>
                        <option value="2022">2022</option>
                    </select>
                </label>
                
                <br>

                <label class="input-group">
                    <span>Event</span>
                    <select name="event" id="eventsField" class="select select-bordered w-full max-w-xs">
                    </select>
                </label>

                <br>

                <!-- <select name="drivers" id="driversField">
                </select> -->
                <div id="driversField" class="flex flex-wrap gap-4 w-1/2">
                </div>

                <br>

                <!-- <label for="absolute_compound" class="label-text">Absolute Compound?</label>
                <input type="checkbox" name="absolute_compound" class="checkbox"> -->
                <label class="input-group cursor-pointer">
                    <span>Absolute Compound?</span> 
                    <input type="checkbox" class="checkbox checkbox-primary" name="absolute_compound"/>
                </label>

                <br>

                <label class="input-group">
                    <span>Data Type</span>
                    <select name="y-data" class="select select-bordered w-full max-w-xs">
                        {% for label in y_options %}
                            <option value="{{label}}">{{label}}</option>
                        {% endfor %}
                    </select>
                </label>

                <br>

                <input type="submit" value="Submit" class="btn btn-primary" id="submit">
            </form>

        </div>

        <div class="">
            {{image|safe}}
        </div>
    </div>

</body>

<script type="module">
    const queryEvents = async (year) => {
        const queryUrl = '/analytics/events?'
        const queryParams = new URLSearchParams({
            year: year
        });
        let events = await fetch(queryUrl + queryParams).then((res)=>res.json());
        let newOptionsHtml = events['events'].map((event) => {
                return `<option value="${event}">${event}</option>`;
            }).join('\n');
        eventsField.innerHTML = newOptionsHtml;
    }

    const queryDrivers = async (year, event) => {
        const queryUrl = '/analytics/drivers?'
        const queryParams = new URLSearchParams({
            year: year,
            event: event
        });
        let drivers= await fetch(queryUrl + queryParams).then((res)=>res.json());
        let newOptionsHtml = drivers['drivers'].map((driver) => {
                return `
                    <div class="">
                        <label class="input-group">
                            <span class="font-mono">${driver}</span>
                            <input type="checkbox" name="drivers[]" class="checkbox" value="${driver}"/>
                        </label>
                    </div>
                    `;
            }).join('\n');
        driversField.innerHTML = newOptionsHtml;
    }

    await queryEvents(yearsField.value);
    await queryDrivers(yearsField.value, eventsField.value);

    yearsField.addEventListener("change", () => {
        console.log(yearsField.value);
        queryEvents(yearsField.value)
    });

    eventsField.addEventListener("change", () => {
        console.log(eventsField.value);
        queryDrivers(yearsField.value, eventsField.value);
    });
</script>