<h1>F1 Lap Times Graph</h1>

<form id="lapForm" action="/analytics/lap_times">
    <select name="year"  id="yearsField">
        <option value="2021">2021</option>
        <option value="2022">2022</option>
    </select>
    
    <br>

    <select name="event" id="eventsField">
    </select>

    <br>

    <!-- <select name="drivers" id="driversField">
    </select> -->
    <div id="driversField">
    </div>

    <br>

    <label for="absolute_compound">Absolute Compound?</label>
    <input type="checkbox" name="absolute_compound">

    <br>

    <select name="y-data">
        {% for label in y_options %}
            <option value="{{label}}">{{label}}</option>
        {% endfor %}
    </select>

    <br>

    <input type="submit" value="Submit">
</form>

{{image|safe}}

<script type="module">
    const queryEvents = async (year) => {
        const queryUrl = '/analytics/events?'
        const queryParams = new URLSearchParams({
            year: year
        });
        let events = await fetch(queryUrl + queryParams).then((res)=>res.json());
        let newOptionsHtml = events['events'].map((event) => {
                return `<option value="${event}">${event}</option>`;
            }).join('\n');
        eventsField.innerHTML = newOptionsHtml;
    }

    const queryDrivers = async (year, event) => {
        const queryUrl = '/analytics/drivers?'
        const queryParams = new URLSearchParams({
            year: year,
            event: event
        });
        let drivers= await fetch(queryUrl + queryParams).then((res)=>res.json());
        let newOptionsHtml = drivers['drivers'].map((driver) => {
                return `<input type="checkbox" name="drivers[]" value="${driver}">${driver}</input>`;
            }).join('\n');
        driversField.innerHTML = newOptionsHtml;
    }

    await queryEvents(yearsField.value);
    await queryDrivers(yearsField.value, eventsField.value);

    yearsField.addEventListener("change", () => {
        console.log(yearsField.value);
        queryEvents(yearsField.value)
    });

    eventsField.addEventListener("change", () => {
        console.log(eventsField.value);
        queryDrivers(yearsField.value, eventsField.value);
    });
</script>